.DS_Store
Records/h43/h43_mdf_file.txt
Records/**/*_mdf_file.txt
#pos_vels.txt
Cell_Images/*
Simulation_Images/*
*.txt
!/pos_vels.txt
!/Records/**/*.txt
Dod/*
Better_Positions/*
Records/mv124/*
Records/mv125/*
Records/mv126/*
Records/mv127/*
Records/mv128/*
Records/mv129/*
Records/mv130/*
